<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/cssHome/styles.css" rel="stylesheet" />
  <style>
      button {
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-white" id="sidebar-wrapper">
        <a
          class="list-group-item list-group-item-action list-group-item-light p-3"
          href="/home"
          >메인화면</a
        >

        <div class="list-group list-group-flush">
          

          <div class="sidebar-heading border-bottom bg-light">게시판</div>

          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="#!"
            >Overview</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="#!"
            >Events</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="#!"
            >Profile</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="#!"
            >Status</a
          >
        </div>
      </div>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
        >
          <div class="container-fluid">
            <button class="btn btn-primary" id="sidebarToggle">
              Toggle Menu
            </button>
            
            <% if(islogin){ %>
            <button class="btn btn-primary" onclick="location.href='write'" > 작성하기</button>  
 
   <% } %>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="#!">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    id="navbarDropdown"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Dropdown</a
                  >
                  <div
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdown"
                  >
                    <a class="dropdown-item" href="#!">Action</a>
                    <a class="dropdown-item" href="#!">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!">Something else here</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
        <table class="table table-striped">
        <thead>
          <tr>
            <th>no</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
          </tr>
        </thead>
        <tbody id="con">
          <!--  <tr>
            <th>1</th>
            <th>안녕</th>
            <th>고지연</th>
            <th>23.01.02</th>
          </tr> -->
           <% for(let i=0; i<list.length; i++) {%>  <!-- 자바스크립 코드 넣을때 <% %> -->
    <tr onclick="location.href='/look/<%=list[i].no %>'">
      <td><%=list[i].no %></td>     <!-- 자바스크립 값 출력할때  넣을때 <%= %> -->
      <td><%=list[i].title %></td>
      <td><%=list[i].id %></td>
      <td><%=list[i].day %></td>
    </tr>
    <% } %>
        </tbody>
      </table>
      </div>
      <form action="/board/find" method="post">
        <input id="find" name="find" > <button  id="findBtn" type="submit">검색</button>
      </form>
    </div>
  </div>
</div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/jsHome/scripts_home.js"></script>
   <!-- <script src="/javascripts/client.js"></script> -->
  <script>
 /*  findBtn.addEventListener("click", function () {
  let find = find.value;
      fetch(`/board/find`, {
        method: "post",
        headers: {
          "Content-type": "application/json",
        },
        body: JSON.stringify(find), //서버로 자료를 json으로 보낸다
      })
        .then((res) => res.json()) //(client과 서버와의 통신형식은 무조건String) 그리고 나서 받을때도json으로 받는다
        .then((res) => {
          if (res.result == true) {
            alert("검색완료");
            location.href = "/board";
          } else {
            alert("검색실패");
          }
        });
    }); */
  </script>
  </body>
</html>
